html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-content: center;
}

/* Big container having all divs */
#container {
  border: 2px solid blue;
  padding: 0;
  width: 45%;
  height: auto;
  /* flex: 1 0 420; */
  /* width: auto;
  height: auto;
  flex: auto; */
  flex-wrap: wrap;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

/* Individual small squares */

.squareDiv {
  width: 50px;
  flex: auto;
  height: 50px;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  background-color: #f0f0f0;
}

label {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-right: 20px;
}

#gridSize {
  font-size: 20px;
  padding: 4px;
  color: darkblue;
  background-color: lightgoldenrodyellow;
  width: 200px;
  border-radius: 6px;
}
#gridSize:hover {
  background-color: lightgreen;
}

#gridSize option {
  font-size: 20px;
  padding: 5px;
}

input[type="submit"] {
  padding: 5px;
  font-size: 20px;
  color: darkblue;
  background-color: lightgoldenrodyellow;
  border: 2px solid blue;
  border-radius: 6px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: lightgreen; /* Hover color for submit button */
}
/* Button to select grid size */

#gridButton {
  font-size: 20px;
  color: blue;
  background-color: antiquewhite;
  margin-bottom: 20px;
}

/* Footer styles */

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: cornflowerblue;
  /* opacity: 0.4; */
}

#footerDiv {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}
.contact-footer {
  color: black;
  font-size: 20px;
  border: 2px solid black;
  background-color: #f0f0f0;
  border-radius: 10px;
  opacity: 0.8;
  transition: all 0.4s 0.2s linear;
  margin: 5px;
}
#nameTag {
  margin-right: auto;
  border: 2px solid black;
  padding: 5px;
}

.contact-footer:hover {
  border: 4px solid black;
  opacity: 1;
}
